.pit_documents-new-rapper
  .pit_documents-new-title
    %h2 資料作成ページ

  .pit_documents-new-buttons-wrapper
    .generate-button
      %div PitBlock生成
    .delete-button
      %div PitBlock削除
    .complete-button
      // TODO:「編集を終了してもよろしいですか？」的なダイアログを出す
      %div 編集完了

  .pit_documents-new-title-form-wrapper
    .pit_documents-new-title-form

  .pit_documents-new-content-wrapper
    .pit_documents-new-content
      %img{ src: @pit_document.pdf_url, width: '80%', height: '800px' }
