.pit_documents-confirm-wrapper
  .pit_documents-confirm-title
    %h2 資料作成ページ

.pit_documents-confirm-title-form-wrapper
  .pit_documents-confirm-title-form

.pit_documents-confirm-content-wrapper
  .pit_documents-confirm-content
    %img{ src: @pit_document.pdf_url, width: '80%', height: '800px' }
