/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
/* The new CSS Reset - version 1.2.0 (last updated 23.7.2021) */
:where(:not(iframe,canvas,img,svg,video):not(svg*)){all:unset;display:revert}*,::after,::before{box-sizing:border-box}ol,ul{list-style:none}img{max-width:100%}table{border-collapse:collapse}textarea{white-space:revert}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  isplay: block;
}

body {
  color: #222;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: rgb(169, 204, 255);
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

/* header */

.header-wrapper {
  text-align: center;
  padding: .8% 0 .5%;
}

.header-title {
  font-size: 1.1rem;
  font-weight: 800;
}

/* footer */
.footer-copylight {
  margin-top: 9%;
  text-align: center;
}

.footer-copylight p {
  font-size: 0.89rem;
  font-weight: 900;
}

/* top#index */

.top-index-wrapper {
  margin: 5% 15%;
  text-align: center;
  padding-bottom: 8%;
}

.top-index-title {
  margin-bottom: 1.75%;
}

.top-index-title h2 {
  font-size: 1.75rem;
}

.top-index-wrapper input[type="submit"] {
  margin-top: 2%;
  font-size: 0.93rem;
  background-color: rgb(109, 133, 241);
  color: #fefefe;
  padding: 1% 3%;
  border-radius: 6px;
  margin-left: 11%;
}


/* pit_documents#new */

.pit_documents-confirm-title {
  text-align: center;
  font-weight: bold;
}

.pit_documents-confirm-content{
  width: 98%;
  max-width: 1000px;
  height: 800px;
  margin: 12px auto 20px;
}

.pit_documents-new-embed {
  width: 100%;
  height: 100%;
}

.pit_documents-btn-wrap {
  display: flex;
  justify-content: space-around;
  width: 96%;
  max-width: 550px;
  margin: 12px auto;
}

.pit_documents-confirm-button {
  display: block;
  background: lightcoral;
  color: #fff;
  padding: 0 2em;
  border: none;
  width: 32%;
  max-width: 180px;
  height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  transition: .3s;
  white-space: nowrap;
  text-align: center;
}

.pit_documents-confirm-button:hover {
  background: lightblue;
  cursor: pointer;
  transition: .3s;
}

@media (max-width: 575px) {
  .pit_documents-confirm-button {
    font-size: 18px;
  }
}